In [9]:
%cd /home/adityasidharta/ST4240/ass_1/q2

/home/adityasidharta/ST4240/ass_1/q2

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

%matplotlib inline

### Loading Dataset

In [11]:
df_data_dictionary = pd.read_excel('Data%20Dictionary.xls')
df_sample_entry = pd.read_csv('sampleEntry.csv')
df_train = pd.read_csv('cs-training.csv', index_col=0)
df_test = pd.read_csv('cs-test.csv', index_col=0)

In [12]:
pd.set_option('max_colwidth', -1)
display(df_data_dictionary)
pd.reset_option('max_colwidth')

,Variable Name,Description,Type
0,SeriousDlqin2yrs,Person experienced 90 days past due delinquency or worse,Y/N
1,RevolvingUtilizationOfUnsecuredLines,Total balance on credit cards and personal lines of credit except real estate and no installment debt like car loans divided by the sum of credit limits,percentage
2,age,Age of borrower in years,integer
3,NumberOfTime30-59DaysPastDueNotWorse,Number of times borrower has been 30-59 days past due but no worse in the last 2 years.,integer
4,DebtRatio,"Monthly debt payments, alimony,living costs divided by monthy gross income",percentage
5,MonthlyIncome,Monthly income,real
6,NumberOfOpenCreditLinesAndLoans,Number of Open loans (installment like car loan or mortgage) and Lines of credit (e.g. credit cards),integer
7,NumberOfTimes90DaysLate,Number of times borrower has been 90 days or more past due.,integer
8,NumberRealEstateLoansOrLines,Number of mortgage and real estate loans including home equity lines of credit,integer
9,NumberOfTime60-89DaysPastDueNotWorse,Number of times borrower has been 60-89 days past due but no worse in the last 2 years.,integer
10,NumberOfDependents,"Number of dependents in family excluding themselves (spouse, children etc.)",integer

In [13]:
df_train.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

### Train/Test Data Exploratory. 
- Dimension of the data
- Checking whether there are any empty value
- Checking the distribution of all the columns in the data
- Checking the correlation between the data

In [14]:
print df_train.shape
print df_test.shape

(150000, 11)
(101503, 11)

In [15]:
df_train.columns

Index([u'SeriousDlqin2yrs', u'RevolvingUtilizationOfUnsecuredLines', u'age',
       u'NumberOfTime30-59DaysPastDueNotWorse', u'DebtRatio', u'MonthlyIncome',
       u'NumberOfOpenCreditLinesAndLoans', u'NumberOfTimes90DaysLate',
       u'NumberRealEstateLoansOrLines',
       u'NumberOfTime60-89DaysPastDueNotWorse', u'NumberOfDependents'],
      dtype='object')

In [16]:
DLQN = 'SeriousDlqin2yrs'
REVOLVE = 'RevolvingUtilizationOfUnsecuredLines'
AGE = 'age'
PASTDUE_30_59 = 'NumberOfTime30-59DaysPastDueNotWorse'
DEBT_RATIO = 'DebtRatio'
MONTHLY_INCOME = 'MonthlyIncome'
OPEN_CREDIT_LOAN = 'NumberOfOpenCreditLinesAndLoans'
PASTDUE_90 = 'NumberOfTimes90DaysLate'
ESTATE_LOAN = 'NumberRealEstateLoansOrLines'
PASTDUE_60_89 = 'NumberOfTime60-89DaysPastDueNotWorse'
DEPENDENTS = 'NumberOfDependents'

In [ ]:
df_train.isnull().sum()

- There are empty Values in the Monthly Income.
- There are empty Values in the Number of Dependents.

In [ ]:
dlqn = df_train[DLQN].values
sns.countplot(dlqn).set_title('Proportion of ' + DLQN)
plt.show()

In [ ]:
revolve = df_train[REVOLVE]
print "Total RevolvingUtilizationOfUnsecuredLines :" + str(len(revolve))
print "Total RevolvingUtilizationOfUnsecuredLines > 1.0 : " + str(len(np.where(revolve > 1.0)[0]))
print "Total RevolvingUtilizationOfUnsecuredLines > 1.5 : " + str(len(np.where(revolve > 1.5)[0]))
print "Total RevolvingUtilizationOfUnsecuredLines > 2.0 : " + str(len(np.where(revolve > 2.0)[0]))
print "Total RevolvingUtilizationOfUnsecuredLines > 5.0 : " + str(len(np.where(revolve > 5.0)[0]))
print "Total RevolvingUtilizationOfUnsecuredLines > 100.0 : " + str(len(np.where(revolve > 100.0)[0]))

no_out_revolve = np.where(revolve > 1.0, 1.0, revolve)

In [ ]:
fig, axes = plt.subplots(nrows = 2)
sns.distplot(revolve, ax = axes[0]).set_title('Distribution plot of ' + REVOLVE)
sns.distplot(no_out_revolve, ax = axes[1]).set_title('Distribution plot of ' + REVOLVE + ' without Outliers')
plt.tight_layout()
plt.show()

In [ ]:
sns.boxplot(x = dlqn, y = no_out_revolve).set_title(REVOLVE  + ' vs ' + DLQN)
plt.show()

In [ ]:
age = df_train[AGE].values
counter = Counter(age)
df_count =  pd.DataFrame.from_dict(counter, orient='index').reset_index()
df_count.columns = [AGE, 'total']
df_count

In [ ]:
no_out_age = np.where(age < 21, 21, age)
no_out_age = np.where(no_out_age > 100, 100, no_out_age)
counter = Counter(no_out_age)
df_count =  pd.DataFrame.from_dict(counter, orient='index').reset_index()
df_count.columns = [AGE, 'total']
df_count

In [ ]:
sns.boxplot(x = dlqn, y = no_out_age).set_title(AGE  + ' vs ' + DLQN)
plt.show()

In [ ]:
pastdue_30_59 = df_train[PASTDUE_30_59].values.astype(float)
pastdue_60_89 = df_train[PASTDUE_60_89].values.astype(float)
pastdue_90 = df_train[PASTDUE_90].values.astype(float)
df_30 =  pd.DataFrame.from_dict(Counter(pastdue_30_59), orient='index').reset_index()
df_30.columns = ['number_pastdue', 'count_30']
df_60 = pd.DataFrame.from_dict(Counter(pastdue_60_89), orient='index').reset_index()
df_60.columns = ['number_pastdue', 'count_60']
df_90 = pd.DataFrame.from_dict(Counter(pastdue_90), orient ='index').reset_index()
df_90.columns = ['number_pastdue', 'count_90']

list_df = [df_30, df_60, df_90]
df_final = reduce(lambda left,right: pd.merge(left,right,on='number_pastdue', how='outer'), list_df)
df_final = df_final.fillna(0.0)
display(df_final)

no_out_pastdue_30_59 = np.where(np.logical_or(pastdue_30_59 == 96. , pastdue_30_59 == 98.), 0., pastdue_30_59)
no_out_pastdue_60_89 = np.where(np.logical_or(pastdue_60_89 == 96., pastdue_60_89 == 98.), 0., pastdue_60_89)
no_out_pastdue_90 = np.where(np.logical_or(pastdue_90 == 96. , pastdue_90 == 98.), 0., pastdue_90)

In [ ]:
fig, axes = plt.subplots(ncols=3, figsize=(20,10))
sns.boxplot(x = dlqn, y = no_out_pastdue_30_59, ax=axes[0]).set_title(PASTDUE_30_59  + ' vs ' + DLQN)
sns.boxplot(x = dlqn, y = no_out_pastdue_60_89, ax=axes[1]).set_title(PASTDUE_60_89  + ' vs ' + DLQN)
sns.boxplot(x = dlqn, y = no_out_pastdue_90, ax=axes[2]).set_title(PASTDUE_90  + ' vs ' + DLQN)
plt.tight_layout()
plt.show()

In [ ]:
monthly_income = df_train[MONTHLY_INCOME]
np.nanmedian(monthly_income)

In [ ]:
monthly_income = df_train[MONTHLY_INCOME]
monthly_income = np.where(pd.isnull(monthly_income), np.nanmedian(monthly_income), monthly_income)
print "Total monthly_income :" + str(len(monthly_income))
print "Total monthly_income > 1000.0 : " + str(len(np.where(monthly_income > 1000.0)[0]))
print "Total monthly_income > 10000.0 : " + str(len(np.where(monthly_income > 10000.0)[0]))
print "Total monthly_income > 20000.0 : " + str(len(np.where(monthly_income > 20000.0)[0]))
print "Total monthly_income > 50000.0 : " + str(len(np.where(monthly_income > 50000.0)[0]))
print "Total monthly_income > 100000.0 : " + str(len(np.where(monthly_income > 100000.0)[0]))
no_out_monthly_income = np.where(monthly_income > 20000.0, np.nanmedian(monthly_income), monthly_income)

In [ ]:
fig, axes = plt.subplots(nrows = 2)
sns.distplot(monthly_income, ax = axes[0]).set_title('distplot of ' + str(MONTHLY_INCOME))
sns.distplot(no_out_monthly_income).set_title('distplot of ' + str(MONTHLY_INCOME) + ' without outlier')
plt.tight_layout()
plt.show()

In [ ]:
debtratio = df_train[DEBT_RATIO].values
print "Total debtratio :" + str(len(debtratio))
print "Total debtratio > 100.0 : " + str(len(np.where(debtratio > 100.0)[0]))
print "Total debtratio > 1000.0 : " + str(len(np.where(debtratio > 1000.0)[0]))
print "Total debtratio > 5000.0 : " + str(len(np.where(debtratio > 5000.0)[0]))
print "Total debtratio > 10000.0 : " + str(len(np.where(debtratio > 10000.0)[0]))

In [ ]:
no_out_ratio = np.where(debtratio > 5000.0, 5000.0, debtratio)

In [ ]:
open_credit_loan = df_train[OPEN_CREDIT_LOAN].values
sns.distplot(open_credit_loan)

In [ ]:
real_estate_loan = df_train[ESTATE_LOAN].values
sns.distplot(real_estate_loan)

In [ ]:
dependents = df_train[DEPENDENTS].values
dependents = np.where(pd.isnull(dependents), 0.0, dependents)
sns.distplot(dependents)

In [7]:
def prepare_dataset(df_train):
    revolve = df_train[REVOLVE]
    age = df_train[AGE].values
    pastdue_30_59 = df_train[PASTDUE_30_59].values.astype(float)
    pastdue_60_89 = df_train[PASTDUE_60_89].values.astype(float)
    pastdue_90 = df_train[PASTDUE_90].values.astype(float)
    monthly_income = df_train[MONTHLY_INCOME]
    monthly_income = np.where(pd.isnull(monthly_income), np.nanmedian(monthly_income), monthly_income)
    dependents = df_train[DEPENDENTS].values
    debtratio = df_train[DEBT_RATIO].values
    
    no_out_revolve = np.where(revolve > 1.0, 1.0, revolve)
    no_out_age = np.where(age < 21, 21, age)
    no_out_age = np.where(no_out_age > 100, 100, no_out_age)
    no_out_pastdue_30_59 = np.where(np.logical_or(pastdue_30_59 == 96. , pastdue_30_59 == 98.), 0., pastdue_30_59)
    no_out_pastdue_60_89 = np.where(np.logical_or(pastdue_60_89 == 96., pastdue_60_89 == 98.), 0., pastdue_60_89)
    no_out_pastdue_90 = np.where(np.logical_or(pastdue_90 == 96. , pastdue_90 == 98.), 0., pastdue_90)
    no_out_monthly_income = np.where(monthly_income > 20000.0, np.nanmedian(monthly_income), monthly_income)
    no_out_dependents = np.where(pd.isnull(dependents), 0.0, dependents)
    no_out_ratio = np.where(debtratio > 5000.0, 5000.0, debtratio)
    
    df_train[REVOLVE] = no_out_revolve.astype(float)
    df_train[AGE] = no_out_age.astype(int)
    df_train[PASTDUE_30_59] = no_out_pastdue_30_59.astype(int)
    df_train[PASTDUE_60_89] = no_out_pastdue_60_89.astype(int)
    df_train[PASTDUE_90] = no_out_pastdue_90.astype(int)
    df_train[MONTHLY_INCOME] = no_out_monthly_income.astype(float)
    df_train[DEPENDENTS] = no_out_dependents.astype(int)
    df_train[DEBT_RATIO] = no_out_ratio.astype(float)
    
    x_train = df_train[[u'RevolvingUtilizationOfUnsecuredLines', u'age',
       u'NumberOfTime30-59DaysPastDueNotWorse', u'DebtRatio', u'MonthlyIncome',
       u'NumberOfOpenCreditLinesAndLoans', u'NumberOfTimes90DaysLate',
       u'NumberRealEstateLoansOrLines',
       u'NumberOfTime60-89DaysPastDueNotWorse', u'NumberOfDependents']].values
    y_train = df_train['SeriousDlqin2yrs'].values
    
    return x_train, y_train

In [17]:
x_train, y_train = prepare_dataset(df_train)

In [19]:
x_train.shape

(150000, 10)