In [8]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt
from pandas_summary import DataFrameSummary

In [3]:
df_train = pd.read_csv('train.csv')

In [ ]:
df_train['click_time'] = pd.to_datetime(df_train['click_time'])

In [5]:
df_train['hour'] = df_train['click_time'].dt.hour

In [9]:
DataFrameSummary(df_train).summary()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,hour
count,1.84904e+08,1.84904e+08,1.84904e+08,1.84904e+08,1.84904e+08,NaN,NaN,1.84904e+08,1.84904e+08
mean,90876,12.0113,21.7233,22.677,268.579,NaN,NaN,0.00247072,9.29878
std,69527.9,14.8052,259.333,55.2528,129.588,NaN,NaN,0.0496449,6.17164
min,1,0,0,0,0,NaN,NaN,0,0
25%,40245,3,1,13,140,NaN,NaN,0,4
50%,79622,12,1,18,258,NaN,NaN,0,9
75%,118247,15,1,19,379,NaN,NaN,0,14
max,364778,768,4227,956,500,NaN,NaN,1,23
counts,184903890,184903890,184903890,184903890,184903890,184903890,456846,184903890,184903890
uniques,277396,706,3475,800,202,259620,182057,2,24
missing,0,0,0,0,0,0,184447044,0,0
missing_perc,0%,0%,0%,0%,0%,0%,99.75%,0%,0%
types,numeric,numeric,numeric,numeric,numeric,date,categorical,bool,numeric

In [6]:
df_train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,hour
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0,14
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0,14
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0,14
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0,14
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0,14

In [ ]:
train_columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']
test_columns  = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'click_id']
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }